# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.php text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary

# Archives
*.zip binary
*.tar binary
*.gz binary

